@import url(http://fonts.googleapis.com/css?family=Lustria);

ul.tasks {
	padding: 0 10px; margin: 0;
	list-style: none;
}

ul.tasks li {
	padding: 4px 0;
	-font-family: Lustria;
	letter-spacing: 0;
	text-decoration: none;
	border-bottom: 1px dashed #a0a0a0;
}

ul.tasks li span.task-id {
	display: inline-block;
	width: 2em;
	padding-right: 0.25em;
	font-size: 0.75em;
	text-align: right;
	background: #d0d080;
	border-radius: 0.25em;
	
}

ul.tasks li.ui-sortable-helper {
	padding-left: 1em;
	background: yellow;
	z-index: 1;
}

ul.tasks li.ui-sortable-placeholder {
	background: #f8f8f8;
}

ul.tasks li .username {
	font-size: 0.8em;
	color: grey;
}